.heading{
    font-size: 43px;
}
.green{
    background: #B9FF66;
}
article{
    border-radius: 3rem;
    box-shadow: 0px 10px;
}
 .article-2{
    background: #B9FF66;
 }
.logos{
    filter: grayscale(100%);
}
 .social{
    gap: 84px;
 }
 .let{
    border-radius: 3rem;
    box-shadow: 0px 10px;
 }
 .Case-Studies{
    border-radius: 3rem;
   
 }

 .proces{
    border-radius: 3rem;
    box-shadow: 0px 10px;
 }
 
 .team{
    border-radius: 3rem;
    box-shadow: 0px 10px;
 }

 .message{
    border-radius: 3rem;
    position: relative;
 }
 .message-box{
   color: white;
    position: absolute;
    bottom: 0;
    top: 1rem;
    right: 1rem;
}

.contact{
    border-radius: 3rem;
    background-color: #F3F3F3;
}

.footer-mobile{
    background-color: #191A23;
   
}

.subscribe{
    border-radius: 1rem;

}

.Subscribe-news{
    background: #B9FF66;
    
}

.hr-tag{
    border: 5px solid red;
    width: 80%;
    width: 80%;
}

.color{
    background-color: #F3F3F3;
}


/* decs */

.desc-hero{
 gap: 100px;
}

.heading-desc{
    font-size: 60px;
}
.heading-span{
    font-size: 20px;
}

.gap-servic{
    gap: 8rem;
}


.footer-desk{
    background-color: #191A23;
    border-radius: 3rem 3rem 0rem 0rem;
    box-shadow: 0px 10px;
}